# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
fastapi==0.61.1
uvicorn==0.11.8
flask==1.1.2
pytest
gunicorn==20.0.4
flask-cors
Werkzeug==0.15.5
numpy
numpy_financial
pandas
statistics
logzero