# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
fastapi==0.61.1
uvicorn==0.11.8
pytest==6.0.2
numpy==1.19.0
numpy_financial===1.0.0
pandas===1.1.2
statistics===1.0.3.5
logzero===1.5.0